@model project_stack_overflow.Models.ViewQuestionViewModel

@{
	ViewBag.Title = "ViewQuestion";
}

<h2>Viewing Question</h2>

@if (Model != null)
{
	<main>
		<div class="view-question-container">
			<section class="view-question-username">
				<h4>Posted by: @Model.Question.ApplicationUser.UserName (@Model.Question.ApplicationUser.Reputation)</h4>
			</section>
			<section class="view-question-title">
				<h4>@Model.Question.Title</h4>
			</section>
			@if (Model.UserIsAuthenticated)
			{
				<section class="view-question-votes">
					@if (Model.UserQuestionVote == true)
					{
						<h6>@Html.ActionLink("Un-Upvote", "CastUpVote", "Votes", new { qId = Model.Question.Id, userId = Model.UserId }, new { @class = "vote-link-voted" })</h6>
					}
					else
					{
						<h6>@Html.ActionLink("Vote Up", "CastUpVote", "Votes", new { qId = Model.Question.Id, userId = Model.UserId }, new { @class = "vote-link-unvoted" })</h6>

					}
					<h6>Vote Score (@Model.Question.VoteTotal)</h6>
					@if (Model.UserQuestionVote == false)
					{
						<h6>@Html.ActionLink("Un-Downvote", "CastDownVote", "Votes", new { qId = Model.Question.Id, userId = Model.UserId }, new { @class = "vote-link-voted" })</h6>
					}
					else
					{
						<h6>@Html.ActionLink("Vote Down", "CastDownVote", "Votes", new { qId = Model.Question.Id, userId = Model.UserId }, new { @class = "vote-link-voted" })</h6>

					}
				</section>
			}
			<section class="view-question-body">
				<p>@Model.Question.Body</p>
			</section>
			<section class="view-question-tags">
				<p>
					Tags:
					@if (Model.Question.QuestionTags.Count == 0)
					{
						<span>None</span>
					}
					else
					{
						foreach (var qt in Model.Question.QuestionTags)
						{
							@Html.ActionLink(qt.Tag.Name, "TagSearch", "Questions", new { TagSelect = qt.TagId }, new { @class = "question-tag-list" })
						}
					}
					@if (Model.UserIsAdmin == true)
					{
						@Html.ActionLink("Edit the tags on this question", "EditQuestionTags", "Tags", new { id = Model.Question.Id }, new { @class = "question-tag-list" })
					}
				</p>
			</section>
		</div>
		<section class="view-question-comments">
			@foreach (var comment in Model.Question.CommentQuestions)
			{
				<div class="question-comment-div">
					<p>@comment.ApplicationUser.UserName on @comment.Date said:</p>
					<p>@comment.Body</p>
					@if (Model.UserIsAdmin == true)
					{
						@Html.ActionLink("Edit this Comment", "Edit", "CommentQuestions", new { id = comment.Id }, null)
						<br />
						@Html.ActionLink("Delete this Comment", "Delete", "CommentQuestions", new { id = comment.Id }, null)
					}
				</div>
			}
		</section>

		<section class="view-question-links">
			@if (Model.UserMayAnswer)
			{
				<p>
					@Html.ActionLink("Answer this Question", "AnswerQuestion", new { id = Model.Question.Id })
				</p>
			}
			<p>
				@Html.ActionLink("Comment on this Question", "CommentOnQuestion", new { id = Model.Question.Id })
			</p>
			@if (Model.UserIsAdmin == true)
			{
				<p>
					@Html.ActionLink("Delete this Question", "DeleteQuestion", new { id = Model.Question.Id })
				</p>
			}
		</section>

		<section class="view-question-answers">
			@foreach (var pair in Model.AnswersAndVotes)
			{
				if (pair.Key.CorrectAnswer)
				{
					<div class="answer-div-correct">
						<p>@pair.Key.ApplicationUser.UserName (with @pair.Key.ApplicationUser.Reputation rep) answered on @pair.Key.Date:</p>
						<p>@pair.Key.Body</p>
						@if (Model.UserIsAuthenticated)
						{
							if (pair.Value == true)
							{
								<h6>@Html.ActionLink("Un-Upvote", "CastAnswerUpVote", "Votes", new { aId = pair.Key.Id, userId = Model.UserId }, new { @class = "vote-link-voted" })</h6>
							}
							else
							{
								<h6>@Html.ActionLink("Vote Up", "CastAnswerUpVote", "Votes", new { aId = pair.Key.Id, userId = Model.UserId }, new { @class = "vote-link-unvoted" })</h6>

							}
							<h6>Answer Vote Score: @pair.Key.VoteTotal</h6>
							if (pair.Value == false)
							{
								<h6>@Html.ActionLink("Un-Downvote", "CastAnswerDownVote", "Votes", new { aId = pair.Key.Id, userId = Model.UserId }, new { @class = "vote-link-voted" })</h6>
							}
							else
							{
								<h6>@Html.ActionLink("Vote Down", "CastAnswerDownVote", "Votes", new { aId = pair.Key.Id, userId = Model.UserId }, new { @class = "vote-link-voted" })</h6>
							}
						}
						<p>
							@Html.ActionLink("Comment on this Answer", "CommentOnAnswer", new { id = pair.Key.Id })
						</p>
						@if (Model.SolutionMarkable == true)
						{
							<p>
								@Html.ActionLink("Mark this solution as correct", "MarkSolution", new { id = pair.Key.Id })
							</p>
						}
						@if (Model.UserIsAdmin == true)
						{
							<p>
								@Html.ActionLink("Delete this Answer", "DeleteAnswer", new { id = pair.Key.Id })
							</p>
						}
					</div>
				}
				else
				{
					<div class="answer-div">
						<p>@pair.Key.ApplicationUser.UserName (with @pair.Key.ApplicationUser.Reputation rep) answered on @pair.Key.Date:</p>
						<p>@pair.Key.Body</p>
						@if (Model.UserIsAuthenticated)
						{
							if (pair.Value == true)
							{
								<h6>@Html.ActionLink("Un-Upvote", "CastAnswerUpVote", "Votes", new { aId = pair.Key.Id, userId = Model.UserId }, new { @class = "vote-link-voted" })</h6>
							}
							else
							{
								<h6>@Html.ActionLink("Vote Up", "CastAnswerUpVote", "Votes", new { aId = pair.Key.Id, userId = Model.UserId }, new { @class = "vote-link-unvoted" })</h6>

							}
							<h6>Answer Vote Score: @pair.Key.VoteTotal</h6>
							if (pair.Value == false)
							{
								<h6>@Html.ActionLink("Vote Down", "CastAnswerDownVote", "Votes", new { aId = pair.Key.Id, userId = Model.UserId }, new { @class = "vote-link-voted" })</h6>
							}
							else
							{
								<h6>@Html.ActionLink("Un-Downvote", "CastAnswerDownVote", "Votes", new { aId = pair.Key.Id, userId = Model.UserId }, new { @class = "vote-link-voted" })</h6>
							}
						}

						<p>
							@Html.ActionLink("Comment on this Answer", "CommentOnAnswer", new { id = pair.Key.Id })
						</p>
						@if (Model.SolutionMarkable == true)
						{
							<p>
								@Html.ActionLink("Mark this solution as correct", "MarkSolution", new { id = pair.Key.Id })
							</p>
						}
						@if (Model.UserIsAdmin == true)
						{
							<p>
								@Html.ActionLink("Delete this Answer", "DeleteAnswer", new { id = pair.Key.Id })
							</p>
						}
					</div>
				}
				<div class="answer-comment-container-div">
					@foreach (var comment in pair.Key.Comments)
					{
						<div class="answer-comment-div">
							<p>@comment.ApplicationUser.UserName on @comment.Date said:</p>
							<p>@comment.Body</p>
							@if (Model.UserIsAdmin == true)
							{
								@Html.ActionLink("Edit this Comment", "Edit", "CommentAnswers", new { id = comment.Id }, null)
								<br />
								@Html.ActionLink("Delete this Comment", "Delete", "CommentAnswers", new { id = comment.Id }, null)
							}

						</div>
					}
				</div>
			}
		</section>
	</main>
}
